{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>
        {% if app.user %}
            <button type="button" class="btn"><a href="{{ path('app_logout') }}">Déconnexion</a></button>

        {% else %}
            <button type="button" class="btn"><a href="{{ path('app_login') }}">Connexion</a></button>
        {% endif %}
    </div>
{% endblock %}
