{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="redirectRegister">
    <p>Vous vous êtes déjà enregistré! </br>Vous n'avez pas besoin de remplir une nouvelle </br>fois le formulaire d'enregistrement!</p>
    <img src="{{ asset('pictures/cookies/sansfond/pascontent.png') }}" alt="cookie content">
</div>
{% endblock %}
