{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <p>Vous vous êtes enregistré, Allez vérifier vos mails pour completer votre inscription.</p>
{% endblock %}
