{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <div class="redirectRegister">
        <p>Vous vous êtes enregistré! </br>Allez vérifier vos mails pour completer votre inscription.</p>
        <img src="{{ asset('pictures/cookies/sansfond/content.png') }}" alt="cookie content">
    </div>
{% endblock %}
