{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <ul>
        {% for allergeneList in allergeneLists %}
            <li>{{ allergeneList.title }}</li>
            <li>{{ allergeneList.description }}</li>

        {% endfor %}
    </ul>

    {{ form(form) }}


{% endblock %}
