{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}





    <div class="formulaire-recipe">
        <h2>Ajouter une recette</h2>

        {{ form(form) }}
    </div>
{% endblock %}
