{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}


        <ul>
                {% for regimeList in regimeLists %}
                        <li>{{ regimeList.title }}</li>
                        <li>{{ regimeList.description }}</li>

                {% endfor %}
        </ul>

{% endblock %}
