{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="mentionPolitique">

    <h2>Collecte de vos Données personnelles</h2>
    <p>
    En tant que visiteur du Site, vous pouvez participer à toutes sortes d’activités sans fournir aucune Donnée personnelle.<br>

    Toutefois, lorsque vous vous inscrivez pour utiliser un site Shutterstock et commandez des produits ou des services en tant qu’abonné Shutterstock, pour vous fournir les services en question, nous pouvons collecter les Données personnelles suivantes :<br>
    </p>
    <ul>
        <li>Coordonnées telles que votre nom, vos numéros de téléphone et de fax, votre adresse postale et votre adresse e-mail.</li>
        <li>Informations de facturation telles que le numéro, la date d’expiration et le type de carte bancaire que vous utilisez, ainsi que l’adresse associée à cette carte.</li>
        <li>Informations démographiques telles que l’intitulé de votre poste, votre description de poste, le nom et le type d’entreprise pour laquelle vous travaillez.</li>
        <li>Des données de profil, y compris votre nom d’utilisateur et votre mot de passe, des détails sur vos achats et le Contenu que vous achetez sous licence chez nous.</li>
        <li>Lorsque vous envoyez du contenu à Shutterstock à utiliser sous licence, les informations suivantes peuvent vous être demandées :</li>
    </ul>
    <p>
    Coordonnées telles que votre nom, votre numéro de téléphone, votre adresse postale et votre adresse e-mail. <br>
    Des informations relatives au contributeur et au paiement, y compris, mais sans s’y limiter, le moyen de paiement, l’e-mail associé au paiement, le nom d’affichage souhaité, l’objectif du contenu, l’équipement photo utilisé, ainsi que votre niveau de compétences et votre processus créatif.<br>
    Selon l’activité, certaines des informations que nous vous demandons de nous fournir sont à caractère obligatoire et d’autres à caractère facultatif. Si vous ne communiquez pas les données à caractère obligatoire relatives à une activité particulière, vous ne pourrez pas participer à cette activité.<br>

    Comme sur la plupart des sites web, quand vous utilisez le Site, Shutterstock ou les sous-traitants tiers sous contrat avec Shutterstock peuvent aussi recueillir certaines informations d’ordre technique ou de routage au sujet de votre ordinateur, afin d’améliorer votre utilisation du Site et des services. Par exemple, nous pouvons consigner des renseignements sur votre environnement, comme le type de navigateur, le système d’exploitation, la vitesse du processeur et l’adresse IP de votre ordinateur. Nous utilisons ces variables pour faciliter et suivre votre utilisation du Site et de ses services. Shutterstock s’en sert également pour évaluer le trafic du Site. Pour mieux cerner les besoins de nos visiteurs sur le Site, nous établissons parfois un lien entre ces données et vos Données personnelles.<br>

    Pour réduire le nombre d’erreurs dans notre base de données, authentifier les utilisateurs et éviter les emplois abusifs de notre système, nous pouvons parfois compléter les Données personnelles que vous nous fournissez par des informations provenant de sources tierces. Par exemple, nous pouvons compléter vos coordonnées par l’adresse fournie par le service postal des États-Unis afin de valider vos données et d’éviter les erreurs dans notre base de données. Nous pouvons compléter les informations que nous collectons directement auprès de vous par des informations stockées dans des bases de données tierces, par exemple des informations démographiques ou d’entreprise pour mieux cibler les contenus marketing que nous vous envoyons en fonction de vos centres d’intérêt. Vous trouverez ici une liste des sous-traitants tiers que nous sollicitons pour traiter les informations.<br>

    Lorsque vous téléchargez et utilisez nos Applications mobiles ou nos Services, nous recueillons automatiquement des données sur le type d’appareil que vous utilisez et la version de votre système d’exploitation. Nous ne vous demandons pas de pouvoir accéder à tout moment à des informations géolocalisées, ni de pouvoir les suivre, lors du téléchargement ou de l’utilisation de nos Applications mobiles ou de nos Services.<br>
    </p>
    <h2>Mise à jour de vos Données personnelles</h2>
    <p>
    Sur demande, Shutterstock vous fournira un accès à vos Données personnelles en notre possession et des informations à ce sujet. Pour demander ces informations, contactez-nous à l’adresse privacy@shutterstock.com.<br>

    Vous avez le droit d'accéder à vos données personnelles et à vos préférences en matière de confidentialité et de les rectifier ou de les supprimer à tout moment. Pour ce faire, cliquez sur le lien « Mon compte ». Vous pouvez ensuite afficher et modifier immédiatement la plupart de vos Données personnelles. Si vous souhaitez supprimer votre compte ou demander à ce que nous n’utilisions plus vos informations pour vous fournir nos services, consultez le lien « Préférences de mon compte » sur le site et suivez les instructions sous la section « Supprimer mon compte ». Si vous êtes contributeur, vous pouvez modifier votre profil en cliquant ici. Pour des raisons de sécurité, certaines Données personnelles ne peuvent être modifiées qu'en contactant le service d'assistance. Nous répondrons à votre demande aussi vite que possible.
    </p>
    <h2>Utilisation de vos Données personnelles</h2>
    <p>
    Shutterstock collecte des informations vous concernant afin de vous fournir des services, de remplir ses obligations et d’améliorer ses produits et services. Nous ne vendons pas, ne louons pas et ne communiquons pas d’informations permettant de vous identifier à des tiers autrement que conformément à cette Politique de confidentialité. Shutterstock peut utiliser ces informations :
    </p>
    <ul>
        <li>Authentifier et fournir l’accès aux sites web, applications mobiles et services de Shutterstock.</li>
        <li>Traiter vos transactions financières.</li>
        <li>Vous envoyer des confirmations de commande/renouvellement.</li>
        <li>Enregistrer vos droits, le cas échéant, auprès d’une assistance technique ou d’autres avantages proposés aux utilisateurs inscrits.</li>
        <li>Répondre aux demandes, questions et préoccupations envoyées au service client.</li>
        <li>Gérer votre compte.</li>
        <li>Envoyer l’information que vous aviez demandée à propos d’un service ou d’un produit.</li>
        <li>Vous tenir informé des offres spéciales et des services de Shutterstock et des tiers sélectionnés.</li>
        <li>Gérer les promotions et les tirages au sort auxquels vous participez et vous informer des résultats.</li>
        <li>Enquêter sur, prévenir ou prendre des mesures à l’égard de toute activité illégale ou toute violation de nos Conditions d’utilisation du service.</li>
        <li>Répondre à nos besoins en matière de recherche et développement de produits ou services et améliorer notre Site, nos services et nos offres.</li>
        <li>Personnaliser votre expérience, notamment les services, les résultats de recherche et les offres que nous vous proposons.</li>
        <li>Nous stockons les informations que nous recueillons via les cookies, les fichiers journaux, les images transparentes ou les sources extérieures afin de créer un résumé de vos préférences. Nous associons vos données personnelles ou l’historique d’utilisation de votre abonnement aux informations du résumé de vos préférences dans le but de vous proposer des promotions et des offres commerciales adaptées, d’améliorer le contenu du site ou de déterminer vos préférences.</li>
    </ul>
    <p>
    Dans certaines situations, conformément aux obligations légales, la société Shutterstock peut être tenue de divulguer des données à caractère personnel à la demande des autorités publiques, y compris pour se conformer aux obligations en matière de sûreté nationale ou d’application de la loi.<br>
    Lorsque la loi l’exige (p. ex. dans le cadre d’une citation à comparaître, d’un mandat, d’une décision de justice ou d’une procédure judiciaire à l’encontre de Shutterstock) et quand nous pensons qu’une telle divulgation est nécessaire pour protéger nos droits, éviter un litige, assurer votre sécurité et celle d’autrui, enquêter sur une fraude et/ou répondre à une demande administrative. Nous pouvons également divulguer des informations vous concernant afin de nous conformer à nos obligations légales si nous considérons qu’une telle divulgation devrait être réalisée pour des questions de sécurité nationale, d’application de la loi ou toute autre question d’intérêt public.<br>
    </p>
    <h2>Bases juridiques relatives au traitement des données</h2>
    <p>Pour les individus résidant dans l’Espace économique européen (EEE) et au Royaume-Uni, nous nous appuyons sur les bases juridiques suivantes pour le traitement de vos données à caractère personnel :<br>

    Le traitement des données est nécessaire pour exécuter notre contrat avec vous : <br></p>
    <ul>
        <li>Pour fournir l’accès aux sites web, applications mobiles et services de Shutterstock afin de respecter les conditions de votre contrat.</li>
        <li>Pour personnaliser votre expérience, notamment les services, les résultats de recherche et les offres que nous vous proposons.</li>
        <li>Pour fournir des informations afin que vous puissiez prendre des décisions concernant les services proposés par Shutterstock.</li>
        <li>Pour traiter vos transactions financières et vous envoyer les confirmations de commande/renouvellement.</li>
        <li>Pour enregistrer vos droits, le cas échéant, à une assistance technique ou d’autres avantages proposés aux utilisateurs inscrits.</li>
        <li>Pour répondre aux demandes, questions et préoccupations que vous envoyez au service client.</li>
        <li>Pour gérer votre compte.</li>
        <li>Le traitement des données est nécessaire à la sauvegarde des intérêts vitaux de la personne concernée ou d’une autre personne physique :</li>
        <li>Pour examiner et empêcher toute violation des droits de propriété intellectuelle.</li>
        <li>Pour confirmer la validité des licences associées au contenu de Shutterstock.</li>
        <li>Pour examiner et empêcher toute violation de nos Conditions d’utilisation du service, ou prendre les mesures adéquates.</li>
        <li>Le traitement des données est nécessaire à la sauvegarde des intérêts légitimes de Shutterstock :</li>
        <li>Pour fournir, améliorer et personnaliser notre site web et nos services.</li>
        <li>Pour administrer nos opérations et respecter nos obligations contractuelles envers nos clients et contributeurs.</li>
        <li>Pour analyser et comprendre la manière dont nos plates-formes en ligne sont utilisées.</li>
        <li>Pour garantir la sécurité et l’intégrité de nos sites web, applications mobiles et autres services.</li>
        <li>Pour vous envoyer les informations demandées relatives à un produit ou service et vous tenir informé(e) des offres spéciales et services de Shutterstock et des tiers sélectionnés.</li>
        <li>Pour gérer les promotions et les tirages au sort.</li>
        <li>Pour la recherche et le développement de produits ou services afin d’améliorer notre Site, nos services et nos offres.</li>
        <li>Le traitement des données est nécessaire pour respecter les obligations juridiques de Shutterstock, notamment :</li>
        <li>Pour examiner et empêcher toute violation des droits de propriété intellectuelle, la fraude, l’envoi de courriers indésirables, le harcèlement, les actes criminels et les risques pour la sécurité.</li>
        <li>Pour respecter les lois et réglementations en vigueur imposant des sanctions relatives au blanchiment d’argent et à la corruption.</li>
        <li>Pour répondre aux obligations de communication des rapports financiers et d’autres obligations conformément aux lois sur les valeurs mobilières applicables.</li>
        <li>Partage d’informations avec les fournisseurs de service ou les agents</li>
        <li>Shutterstock a recours à une ou plusieurs entreprises de traitement des paiements par carte bancaire pour vous facturer nos produits et services. À notre connaissance, ces entreprises ne conservent pas, ne partagent pas, ne stockent pas et n’utilisent pas d’informations d’identification personnelle à d’autres fins que celle-ci.</li>
    </ul>
    <p>
    Nous communiquons également des Données personnelles à certaines entreprises qui fournissent des services pour notre compte. Nous ne fournissons que les Données personnelles qui leur sont nécessaires pour fournir ces services. Nous exigeons des entreprises avec lesquelles nous partageons des Données personnelles qu’elles protègent ces données conformément à la présente politique et qu’elles se limitent à utiliser ces Données personnelles dans le cadre des services qu’elles fournissent pour le compte de Shutterstock. Vous trouverez une liste de ces sous-traitants tiers ici.

    Nous ne vendons pas et ne fournissons pas les Données personnelles à d’autres entreprises qui commercialisent leurs propres produits et services.
    </p>
    <h2>Conservation et portabilité des données</h2>
    <p>
    Nous conserverons vos informations aussi longtemps que votre compte sera actif. Nous en avons notamment besoin pour vous fournir des services, valider ou faire respecter les autorisations d’utilisation du Contenu, le cas échéant, ou respecter nos obligations légales. Si vous souhaitez supprimer votre compte ou demander à ce que nous n’utilisions plus vos informations pour vous fournir nos services, consultez le lien « Préférences de mon compte » sur le site et suivez les instructions sous la section « Supprimer mon compte ». Si vous ne parvenez pas à accéder à votre compte, veuillez envoyer un e-mail à l’adresse privacy@shutterstock.com. Nous traiterons votre demande sous 30 jours. Nous conserverons et utiliserons vos informations, s'il y a lieu, pour nous conformer à nos obligations juridiques, résoudre des litiges et honorer nos contrats.<br>

    Si vous possédez du Contenu sous licence de Shutterstock, vous pouvez consulter votre historique des licences dans l’historique des licences.<br>
    Vos choix (Se désinscrire)  <br>
    Shutterstock ne vend pas vos données ou informations personnelles à des tiers. Nous utilisons des services publicitaires tiers pour gérer les publicités que nous effectuons sur d’autres sites. Notre partenaire tiers est susceptible d’utiliser des technologies, telles que des cookies et des outils de web tracking, pour recueillir des informations à propos de vos activités sur ce site et d’autres sites, afin d’afficher des publicités basées sur vos activités de navigation et vos centres d’intérêt. Si vous ne souhaitez pas que ces informations soient utilisées pour afficher des annonces en fonction de vos centres d’intérêt, vous pouvez l’indiquer explicitement en cliquant ici (si vous résidez dans l’Union européenne, cliquez ici). Notez que cela n’empêche en aucun cas l’affichage de publicités. Vous continuerez de recevoir des publicités génériques.<br>
    Shutterstock utilisera uniquement vos informations aux fins décrites dans la présente Déclaration de confidentialité et n’utilisera pas vos données personnelles à des fins sensiblement différentes sans votre autorisation expresse.<br>
    Vous pouvez demander à ne plus recevoir les actualités, les newsletters de Shutterstock ou les e-mails de nos partenaires. Pour cela, cliquez sur le lien « Mon compte » sur le Site et choisissez les options en conséquence. Vous pouvez généralement refuser ces communications au moment de l’inscription. Shutterstock continuera à vous contacter en cas de modification des Conditions d’utilisation du service ou des Conditions d’utilisation du service pour les contributeurs. En outre, nous continuerons à vous envoyer les annonces liées aux services, y compris, mais sans s’y limiter, un e-mail concernant une inscription, des e-mails relatifs à des avantages proposés, des e-mails automatiquement envoyés lorsque vous effectuez certaines actions sur le Site et des avis relatifs aux factures. En règle générale, vous ne pouvez pas vous soustraire à ces communications qui n’ont pas de caractère promotionnel en soi. Si vous ne souhaitez pas les recevoir, vous pouvez désactiver votre compte.<br>
    Si vous utilisez une appli mobile Shutterstock, vous pouvez recevoir occasionnellement des notifications push de notre part vous informant de tout événement ou promotion que nous pourrions mettre en place. Si vous ne souhaitez plus recevoir ce type de communications, vous pouvez les désactiver dans les réglages de votre appareil.<br>
    Pour demander la suppression de vos Données à caractère personnel de nos systèmes et/ou l’interruption du traitement ultérieur de vos Données à caractère personnel, rendez-vous sur la page « Mon compte – Préférences » et suivez les instructions figurant dans la section intitulée « Supprimer les données à caractère personnel ». Si vous ne parvenez pas à accéder à votre compte, veuillez envoyer un e-mail à l’adresse privacy@shutterstock.com.
    </p>
    <h2>Protection de vos Données personnelles</h2>
    <p>
    Les Données personnelles que vous fournissez lorsque vous utilisez le Site sont protégées de différentes façons.<br>

    Vous pouvez accéder à votre profil en utilisant un mot de passe et un identifiant client uniques que vous choisissez. Le mot de passe est chiffré. Nous vous conseillons d’utiliser un mot de passe alphanumérique fiable et de ne le divulguer à personne.<br>
    Vos Données personnelles sont stockées sur un serveur sécurisé, auquel seuls certains membres du personnel de Shutterstock et certains fournisseurs de Shutterstock ont accès via un mot de passe.<br>
    Vos Données personnelles sont chiffrées chaque fois qu’elles sont transmises à Shutterstock.<br>
    Quand vous saisissez des informations sensibles (comme le numéro de votre carte bancaire) dans nos formulaires de commande ou d’inscription, nous chiffrons ces données en utilisant la technologie de sécurité TLS.<br>
    Nous nous efforçons de protéger les Données personnelles qui nous sont envoyées, aussi bien pendant leur transmission qu’une fois que nous les avons reçues. Toutefois, aucune méthode de transmission sur Internet et aucune méthode de stockage électronique ne sont sûres à 100 %. Bien que nous tenions compte du caractère sensible des Données personnelles que nous collectons, traitons et stockons, et de l’état actuel des technologies pour mettre en place ces mesures afin de protéger vos Données personnelles, nous ne pouvons garantir leur sécurité à 100 %.<br>

    Si vous avez des questions sur la sécurité de nos Sites web, vous pouvez nous envoyer un e-mail à privacy@shutterstock.com.
    </p>
    <h2>Cookie et technologies de suivi</h2>
    <p>
    Le Site peut recueillir automatiquement des informations pendant que vous parcourez son contenu, telles que le fournisseur d’accès à Internet, le type et la version du navigateur, le système d’exploitation et le type d’appareil, le temps moyen passé sur notre ou nos sites, les pages consultées, les informations consultées, l’adresse IP utilisée pour connecter votre ordinateur à Internet et d’autres statistiques pertinentes. Ces informations sont des données de mesure d’audience web, parfois appelées flux de clics.
        <br>

    Il se peut que nous combinions ces informations recueillies automatiquement dans le fichier journal avec d’autres informations que nous recueillons à votre sujet. Nous procédons de la sorte pour améliorer les services offerts, les activités marketing et les analyses effectuées, ainsi que pour garantir le bon fonctionnement du site.
        <br>
    Des technologies, telles que les cookies, les balises et les scripts, sont utilisées par Shutterstock, ses affiliés et les services d’analyse pour permettre le bon fonctionnement et la fonctionnalité du site. Ces technologies sont utilisées pour analyser les tendances, administrer le Site, suivre les mouvements des utilisateurs sur le Site et recueillir les données démographiques de l’ensemble de notre base d’utilisateurs. Les rapports basés sur l’utilisation de ces technologies que nous envoient ces sociétés peuvent être détaillés par individu ou contenir des résultats agrégés.
        <br>
    Un cookie est un petit fichier texte unique qu’un site web peut envoyer à votre ordinateur lorsque vous visitez un site. Nous pouvons utiliser des cookies de session qui disparaissent lorsque l’utilisateur ferme son navigateur, ou des cookies persistants qui restent sur l’ordinateur jusqu’à ce qu’ils soient supprimés manuellement. La plupart des navigateurs web peuvent vous alerter sur l’utilisation de cookies ou refuser systématiquement de les accepter. Si vous ne souhaitez pas que nous déployions de cookies sur votre navigateur, vous pouvez configurer ce dernier pour qu’il les rejette ou qu’il vous informe lorsqu’un site web essaie d’en placer un sur votre ordinateur. Le fait de rejeter les cookies peut vous empêcher d’utiliser correctement le Site.
    Nous nous associons à un tiers soit pour afficher des publicités sur notre site web, soit pour gérer nos annonces sur d’autres sites. Notre partenaire tiers est susceptible d’utiliser des technologies, telles que des cookies, pour recueillir des informations à propos de vos activités sur ce site et d’autres sites, afin d’afficher des publicités basées sur vos activités de navigation et vos centres d’intérêt. Si vous ne souhaitez pas que ces informations soient utilisées pour afficher des annonces en fonction de vos centres d’intérêt, vous pouvez l’indiquer explicitement en cliquant ici (si vous résidez dans l’Union européenne, cliquez ici). Notez que cela n’empêche en aucun cas l’affichage de publicités. Vous continuerez de recevoir des publicités génériques.
    N’hésitez pas à consulter notre Déclaration relative aux cookies pour en savoir plus sur les cookies et les partenaires publicitaires tiers.
        <br>
    Nous vous donnons la possibilité de créer un profil pour accéder aux blogs et aux communautés en ligne afin de partager des informations telles que des messages, des photos et des vidéos. Veuillez noter que nous ne sommes pas en mesure de contrôler les actions des autres personnes avec lesquelles vous êtes susceptible de partager vos pages et informations. Toute information que vous publiez sur un forum public ou dans un salon de discussion, par exemple le forum des contributeurs (les « Forums »), est visible par toutes les personnes accédant à ces espaces. Pour demander la suppression de vos données personnelles de notre blog ou de notre forum communautaire, écrivez-nous à privacy@shutterstock.com. Il se peut que dans certains cas nous ne puissions pas supprimer vos données personnelles. Nous vous en informerons et vous en donnerons les raisons le cas échéant. Par ailleurs, si vous avez utilisé une application tierce pour publier de telles informations, vous pouvez les supprimer en vous connectant à ladite application ou en contactant son éditeur.
        <br>
    Votre adresse e-mail ne sera pas automatiquement publiée sur les Forums, sauf si vous modifiez le paramètre par défaut. Votre adresse e-mail sera alors à la disposition de toute personne accédant aux Forums. En outre, les informations que vous choisissez d’inclure dans votre profil sont consultables par tous les visiteurs des Forums. Vous pouvez modifier votre profil ici.
        <br>
    Nous utilisons un logiciel d’analyse mobile afin de mieux comprendre le fonctionnement de notre logiciel mobile sur votre téléphone. Il est possible que ce logiciel enregistre des données telles que votre fréquence d’utilisation de l’application, les événements qui se produisent dans l’application, l’usage agrégé, les données de performance et l’emplacement d’où l’application a été téléchargée. Nous ne relions pas les informations que nous stockons dans le logiciel d’analyse aux données personnelles que vous soumettez via l’application mobile.
    </p>
    <h2>Modifications apportées à la Politique de confidentialité</h2>
    <p>
    Shutterstock se réserve le droit de compléter régulièrement cette Politique de confidentialité, à sa seule discrétion. En cas de modifications importantes apportées à cette Politique de confidentialité, les utilisateurs seront informés par e-mail ou via la page d’accueil du Site avant leur entrée en vigueur. Si, suite à ces modifications, vous souhaitez changer la façon dont Shutterstock est autorisé à utiliser vos Données personnelles, vous pouvez suivre la procédure décrite dans la section intitulée « Mise à jour de vos Données personnelles et de vos préférences de confidentialité ».
        <br>
    Nous considérons que vous avez pris connaissance de toute modification importante apportée à la Politique de confidentialité une fois l’avis de modification publié sur le site, et que vous vous y soumettez, à l’exception du cas suivant : si au moment de fournir vos Données personnelles à Shutterstock, vous avez la possibilité (comme c’est actuellement le cas) de limiter la façon dont de telles informations seront utilisées pour communiquer avec vous, par Shutterstock ou par un tiers, Shutterstock ne modifiera pas vos préférences à cet égard sans votre autorisation expresse. Cependant, en cas d’acquisition de Shutterstock ou de fusion avec une autre entité, Shutterstock peut fournir à cette entité les informations clients liées à cette partie d’activité vendue à l’entité ou fusionnée avec elle sans votre autorisation. Shutterstock fournira toutefois un avis concernant de telles ventes d’actifs, acquisitions ou fusions sur ce Site.
        <br>
    Non-Discrimination<br>
    Shutterstock ne discrimine aucun utilisateur faisant valoir ses droits en vertu du California Consumer Privacy Act ou d’autres réglementations en matière de protection des données. Nous ne refuserons pas l’accès aux services et n’appliquons pas de tarifs différents aux utilisateurs faisant valoir leurs droits en vertu de réglementations en matière de vie privée.
        <br>
    Liens vers des sites tiers<br>
    Notre Site inclut des liens vers d’autres sites web dont les pratiques en matière de confidentialité peuvent différer de celles de Shutterstock. Si vous transmettez vos données personnelles à l’un de ces sites, celles-ci seront régies par leurs politiques de confidentialité. Nous vous invitons à lire attentivement la politique de confidentialité des sites web que vous visitez.
        <br>
    Widgets de réseaux sociaux<br>
    Nos sites web peuvent inclure des fonctionnalités de médias sociaux, comme le bouton « J’aime » de Facebook, des widgets, comme le bouton « Partager », ou encore des mini-programmes interactifs qui s’exécutent sur notre site. Ces fonctionnalités peuvent collecter votre adresse IP et les pages que vous visitez sur notre site, et générer un cookie pour permettre auxdites fonctionnalités de fonctionner correctement. Les fonctionnalités de réseaux sociaux et les widgets sont hébergés soit par un tiers soit directement sur notre Site. Vos interactions avec ces fonctionnalités sont régies par la politique de confidentialité de la société qui les fournit.
        <br>
    Authentification unique<br>
    Vous pouvez vous connecter à notre site via des services d’authentification unique, tels que Facebook Connect ou un prestataire OpenID. Ces services authentifieront votre identité et vous donneront la possibilité de partager certaines données personnelles avec nous, telles que votre nom et votre adresse e-mail, afin de préremplir notre formulaire d’inscription. Des services comme Facebook Connect vous permettent de publier sur votre profil des informations à propos de vos activités sur ce site web, afin de les partager avec d’autres personnes de votre réseau.
        <br>
    E-mails envoyés dans le cadre du programme de parrainage<br>
    Si vous choisissez de recourir à notre service de parrainage pour recommander notre Site à un collègue, ou si vous invitez un utilisateur à rejoindre un compte d’équipe, nous vous demanderons le nom et l’adresse e-mail de ce dernier. Nous enverrons automatiquement à votre collègue un e-mail unique l’invitant à visiter le Site. Shutterstock mémorise ces informations dans le seul but d’envoyer cet e-mail unique, de contrôler l’efficacité de notre programme de parrainage et de gérer les accès aux Collections.
        <br>
    Votre collègue peut nous contacter à l’adresse privacy@shutterstock.com pour nous demander de supprimer ces informations de notre base de données.
        <br>
    Enfants<br>
    Nous n’avons pas l’intention de solliciter des personnes de moins de 18 ans ni de collecter des Données personnelles auprès de celles-ci. Si vous avez moins de 18 ans, ne saisissez pas d’informations sur ce site et n’utilisez pas nos services. Si vous pensez que l’un de vos enfants mineurs a fourni des Données personnelles sur notre site, contactez-nous à l’adresse support@shuttterstock.com pour demander la suppression de ces données et fermer le compte de l’enfant.
    </p>
    <h2>Entités chargées de la collecte des Données personnelles</h2>
    <p>
    Responsable du traitement des données (« Data Controller ») (Emplacement de l’entreprise ou de l’organisme) <br>

    Pour les particuliers se trouvant aux États-Unis, au Canada et en Inde :
    </p>
    <ul>
        <li>=Shutterstock, Inc. (US)</li>
        <li>350 Fifth Avenue, 21st Floor</li>
        <li>New York, NY 10118</li>
        <li>Téléphone : 01 86 65 14 18</li>
        <li>E-mail : privacy@shutterstock.com</li>
    </ul>
    <p>Pour les particuliers se trouvant dans un pays autre que les États-Unis, le Canada et l’Inde, le responsable du traitement des données est :</p>
    <ul>
        <li>Shutterstock Ireland Limited</li>
        <li>6th Floor, South Bank House, Barrow Street,</li>
        <li>Dublin 4, Ireland</li>
        <li>E-mail : privacy@shutterstock.com</li>
    </ul>
    <p>
    Nous avons désigné un responsable de la protection des données (DPO – Data Protection Officer) pour le Groupe Shutterstock chargé des questions en lien avec le présent avis. Si vous avez des questions, des préoccupations ou des demandes à propos de cet avis, de la façon dont nous gérons vos Données personnelles ou de tout autre sujet en lien avec les Données personnelles, contactez notre Responsable de la protection des données à l’adresse suivante : privacy@shutterstock.com.
        <br>
    Les détails relatifs aux autres membres du groupe des sociétés Shutterstock susceptibles d’être impliqués dans le traitement des Données personnelles sont consultables dans notre section relative au sous-traitement au sein du Groupe Shutterstock.
    </p>
    <h2>Réclamations liées à la confidentialité</h2>
    <p>
    Les personnes se trouvant dans certains pays, dont l’Espace économique européen, ont certains droits statutaires concernant leurs Données à caractère personnel. Sous réserve des exemptions prévues par la loi, vous avez le droit de demander l’accès aux Données à caractère personnel, leur mise à jour, suppression ou rectification, et la restriction de tout traitement ultérieur de vos Données à caractère personnel.
        <br>
    Dans la mesure où le traitement de vos Données personnelles par Shutterstock est soumis au règlement général de l’UE sur la protection des données, Shutterstock s’appuie sur ses intérêts légitimes, décrits ci-dessus, pour le traitement de vos données. Lorsque Shutterstock traite certaines Données personnelles pour ses propres activités de marketing direct, vous avez le droit de vous opposer à tout moment à l’utilisation de vos Données personnelles par Shutterstock à cette fin. Pour cela, cliquez sur le lien Mon compte et demandez à ne plus recevoir d’e-mails du tout. Si vous êtes contributeur, vous pouvez modifier votre profil en cliquant ici.
        <br>
    Pour demander la suppression de vos Données à caractère personnel de nos systèmes ou l’interruption du traitement ultérieur de vos Données à caractère personnel, rendez-vous sur la page « Mon compte – Préférences » et suivez les instructions figurant dans la section intitulée « Supprimer les données à caractère personnel ».
        <br>
    Si vous souhaitez formuler une objection à l’encontre du responsable chargé du traitement de vos données personnelles, vous pouvez également vous opposer au traitement en adressant un e-mail à privacy@shutterstock.com
        <br>
    Shutterstock prend la vie privée de ses utilisateurs très au sérieux. Si vous avez des questions concernant la présente politique de confidentialité ou si vous pensez que Shutterstock n’a pas respecté cette dernière eu égard à vos Données personnelles, vous pouvez contacter le Responsable de la protection des données à l’adresse suivante : privacy@shutterstock.com
        <br>
    Responsable du traitement des données (« Data Controller ») (Emplacement de l’entreprise ou de l’organisme)
        <br>
    Pour les particuliers se trouvant aux États-Unis, au Canada et en Inde :
    </p>
    <ul>
        <li>Shutterstock, Inc. (US)</li>
        <li>350 Fifth Avenue, 21st Floor</li>
        <li>New York, NY 10118</li>
        <li>Téléphone : 01 86 65 14 18</li>
        <li>E-mail : privacy@shutterstock.com</li>
    </ul>
    <p>
    Pour les particuliers se trouvant dans un pays autre que les États-Unis, le Canada et l’Inde, le responsable du traitement des données est :
    </p>
    <ul>
        <li>Shutterstock, Inc. (US)</li>
        <li>350 Fifth Avenue, 21st Floor</li>
        <li>New York, NY 10118</li>
        <li>Téléphone : 01 86 65 14 18</li>
        <li>E-mail : privacy@shutterstock.com</li>
    </ul>
    <p>
    Sous réserve des lois applicables, vous avez également le droit de déposer une plainte auprès des autorités de protection des données de votre région ou du commissaire irlandais chargé de la protection des données, qui fait office d’autorité de contrôle principale de Shutterstock dans l’Union européenne. Si vous résidez dans l’Espace économique européen et estimez que nous conservons vos Données à caractère personnel conformément au Règlement général sur la protection de données (RGPD), vous pouvez adresser vos questions ou réclamations aux autorités de protection des données de votre région ou à notre autorité de contrôle principale :
    <br>
    Commissaire irlandais chargé de la protection des données <br>
    Bureau du commissaire chargé de la protection des données<br>
    Canal House, Station Road, Portarlington, Co. Laois, R32 AP23, Ireland<br>
    Téléphone : +353 57 868 4757<br>
    Fax : +353 57 868 4757<br>
    E-mail : info@dataprotection.ie<br>
    </p>
</div>
{% endblock %}
