{% extends 'base.html.twig' %}

{% block title %}Mangez-sain! Profil Sandrine{% endblock %}

{% block body %}
    <div class="profilSandrine">
        <img src="{{ asset('pictures/alimentation-site/photo-profil.jpg') }}" alt="Photo de profil sandrine">
    <h3>Mon parcours:</h3>
    <p>Je m'appelle Sandrine Coupart, je suis une diététicienne-nutritionniste dont le cabinet est situé à Caen. Diplômée d’État et major de ma promotion, je suis implantée depuis des années dans ce métier, et a acquis beaucoup d'experience auprés de professionnel du sport, dont l'équipe de France féminine de Foootball, pour exemple. </p>
    <h4>Formation : </h4>
    <ul>
        <li>2011 : Certificat d'Education Thérapeutique Maladies Cardio-Vasculaires, IPCEM, PARIS</li>
        <li>2010 : D.U.Nutrition Appliquée aux Activités Physiques et Au Sport, Faculté de Médecine Rangueil, TOULOUSE
        </li>
        <li>2009 : Certificat Psycho-Nutrition, IHP Formation, PERPIGNAN
        </li>
        <li>2007 : BTS Diététique, Ecole Maso, PERPIGNAN
        </li>
        <li>2005 : BACS spécialité SVT, Lycée Ruffié, LIMOUX
        </li>
    </ul>
    <h4>Expériences Professionnelles</h4>
    <ul>
        <li>Consultante externe Centre de formation USAP XV, Ecole de rugby USAP XV, USAP FEMININ XV Consultante externe Clubs Elite Rugby XIII ; et clubs de cyclisme</li>
        <li>Collaboration Mutualité Française (66 ;11),</li>
        <li>Mutuelle Sociale Agricole (66-11) ; Mission Locale des Jeunes (66)</li>
        <li>Consultante externe Maison de retraite SOREDE (66)</li>
        <li>2009 : Centre Hospitalier PERIGNAN (66)</li>
        <li>2011 : Centre Hospitalier THUIR (66)</li>
        <li>2012/2013 : Consultation externe pour l’Équipe de France féminine.</li>
    </ul>
    </div>
{% endblock %}
