$color1: #FFE8D6;
$color2: #DDBEA9;
$color3: #CB997E;
$color4: #427A32;
$color5: #4B6334;
$color6: #616E4C;

$h3color: #40462d;
$textColor: rgba(56,56,56,0.94);
$titleColor: rgba(70,47,40,0.94);


$buttonFamily:  FreeMono, monospace;
$titleFamily: Courier New, serif;
$textFamily: Franklin Gothic, sans-serif;

$police1: Consolas, sans-serif;




