$color1: #FFE8D6;
$color2: #DDBEA9;
$color3: #7a3c3c;
$color4: #427A32;
$color5: rgba(74, 104, 39, 0.78);
$color6: #616E4C;

$h3color: rgb(64, 70, 45);
$textColor: rgba(56,56,56,0.94);
$titleColor: rgba(81, 51, 43, 0.94);


$buttonFamily:  FreeMono, monospace;
$titleFamily: Courier New, serif;
$textFamily: Franklin Gothic, sans-serif;

$police1: Consolas, sans-serif;




