@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'designsystem';


header {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-top: 20px;
  background-color: $color1;
  .navbar {
    flex-direction: row;
    font-size: 1.2em;
    button {
        background-image: linear-gradient(to right, $color2 0%, $color5  51%, $color4  100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 1s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        border: none;
      }
      button:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
  }
}

section {
  background-image: linear-gradient(to bottom, #ffe8d6, #d9c7af, #b2a88a, #898a69, #616e4c);
  .intro {
    display: flex;
    justify-content: center;
    }
    img {
      margin-top: 20px;
      width: 85%;
    }
  .services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 70px;
    p {
      margin: auto;
      width: 85%;
      font-weight: 600;
      font-size: 28px;
      text-align: center;
    }
  }
  .promo {
    .promo1, .promo3 {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
    .promo2, .promo4 {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    img {
      width: 350px;
      height: 300px;
      max-height: 300px;
      max-width: 400px;
    }
  }


}





footer {
  position: fixed;
  bottom: 0;
}




h2 {
  margin: 80px;
  text-align: center;
  font-size: 80px;
  border-bottom: solid;
  border-top: solid;
}

