@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'designsystem';


header {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-top: 20px;
  background-color: $color1;
  .navbar {
    flex-direction: row;
    font-size: 1.2em;
    button {
        background-image: linear-gradient(to right, $color2 0%, $color5  51%, $color4  100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 1s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        border: none;
      }
      button:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
  }
}
section {
  background-image: linear-gradient(to bottom, #ffe8d6, #d9c7af, #b2a88a, #898a69, #616e4c);
  .intro {
    display: flex;
    justify-content: center;
    }
    img {
      margin-top: 20px;
      width: 85%;
    }
  .services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 70px;
    p {
      margin: auto;
      width: 85%;
      font-weight: 600;
      font-size: 28px;
      text-align: center;
    }
  }
  .promo {
    .promo1, .promo3 {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
    .promo2, .promo4 {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    img {
      width: 350px;
      height: 300px;
      max-height: 300px;
      max-width: 400px;
    }
  }
  .presentation {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-top: 35px;
    p {
      font-weight: 600;
      font-size: large;
      text-align: justify;
    }
    .button-33 {
      margin: 30px;
      background-color: #c2fbd7;
      border-radius: 100px;
      box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
      color: green;
      cursor: pointer;
      display: inline-block;
      font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
      padding: 7px 20px;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      font-size: 16px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    .button-33:hover {
      box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
      transform: scale(1.05) rotate(-1deg);
    }
  }
}
.profilSandrine {
  background-image: linear-gradient(to bottom, #ffe8d6, #d9c7af, #b2a88a, #898a69, #616e4c);
  img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 0;
  background-color: $color6;
  img {
    width: 120px;
    height:120px;
  }
  .contact1 {
    text-align: end;
  }
  .contact2 {
    text-align: center;
  }
}




h2 {
  margin: 80px;
  text-align: center;
  font-size: 80px;
  border-bottom: solid;
  border-top: solid;
}

