{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="utilisateurRegime">
        {{ utilisateur.email }}
        azeazezaeaz
    </div>
{% endblock %}
